
<form class="services">
    @for (budget of budgets; track budget.id) {
        <div class=service>
            <div class="description">
                <h3>{{budget.title}}</h3>
                <p>{{budget.descripcion}}</p>
            </div>
            <div class="price">{{budget.price}} €</div>
            <label>
                <input type="checkbox" id="checkbox-{{budget.id}}" (change)="onCheckboxChange($event, budget.price)"> Afegir
            </label>
        </div>
    }

</form>

<section class="total">
    <h4>Preu pressupostat:</h4><h4 class="price"><span>{{totalPrice}}</span> €</h4>
</section>
