<form  class="services">
    <div class="service">
        <div>
            <h3>Seo</h3>
            <p>Programació d'una web responsive completa</p>
        </div>
        <span class="price">300 €</span>
        <label>
            <input type="checkbox"> Afegir
        </label>
    </div>
    <div class="service">
        <div>
            <h3>Seo</h3>
            <p>Programació d'una web responsive completa</p>
        </div>
        <span class="price">300 €</span>
        <label>
            <input type="checkbox"> Afegir
        </label>
    </div>
</form>
<section class="total text-bg-primary p-3">
    <h3>Preu pressupostat:</h3><span class="price text-bg-primary p-3">0 €</span>
</section>