
<div  class="services">
    @for (budget of budgets; track budget.id) {
        <div class="contenedor" id="service-{{budget.id}}">
            <div  class="service">
            <div class="description">
                <h3>{{budget.title}}</h3>
                <p>{{budget.descripcion}}</p>
            </div>
            @if (budget.id === 3 && web()) {
                <div class="price fs-2">{{budget.price + panelExtraPrice()}} €</div>
            } @else {
                <div class="price fs-2">{{budget.price}} €</div>
            }
                <input
                  type="checkbox" class="btn-check"
                  id="checkbox-{{budget.id}}"
                  [checked]="budget.id === 1 ? seo() : budget.id === 2 ? ads() : budget.id === 3 ? web() : false"
                  (change)="onCheckboxChange(budget, $event)"
                  /> 
                  <label class="btn boton-check" for="checkbox-{{budget.id}}" [innerText]="budget.id === 1 && !seo() ? 'Afegir SEO' : budget.id === 2 && !ads() ? 'Afegir Ads' : budget.id === 3 && !web() ? 'Afegir Web' : 'Afegit'"></label>

            </div>
            @if (budget.additionalOptions) {
                    <div  id="options-{{budget.id}}"
                    [class.ocultar]="!(budget.id === 3 && web())"
                    >
                        <app-panel></app-panel>
                    </div>
            }
        </div>
    }
</div>


<section class="total">
    <h4 class="my-2">Preu pressupostat:</h4>
    <h2 class="price text-primary fs-1"><span>{{ totalPrice() }}</span> €</h2>
  </section>