<div #modalElement class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button type="button" class="btn-close m-3 ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-body text-center">
          <h4 class="mb-3 text-success">{{ title }}</h4>
          <p>{{ message }}</p>
          <button type="button" class="btn btn-primary m-3 text-white" data-bs-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>