@use '../../../styles.scss';

.banner-cabecera {
    @extend .rounded-top-4;
    padding: 10px 26px;
    background-color: #0f927c;
    background: linear-gradient(300deg, #5fb0db 0%, #0f927c 60%, #86e9a4 100%);
    width: 100%;
    color: #fff;
    text-align: center;

}

@media (max-width: 768px) {
    .banner-cabecera {
        text-align: center;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.campos-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.campo {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .campos-container {
        flex-direction: column;
        width: 100%;
    }

}


form input::placeholder {
    font-size: 14px;
    color: #9b9b9b;
  }

  form button {
    margin-top: 0.5rem;
  }
  @media (max-width: 768px) {
    form button {
        width: 100%;
        margin-top: 1rem;
    }
}