<div  class="services">
        <div class="contenedor-formulario" >
            <div class="banner-cabecera">
                <h3>Demanar pressupost</h3>
            </div>
            <div class="p-4">
            <form [formGroup]="budgetSaveForm" (ngSubmit)="onSubmit()">
                <div class="campos-container">
                <div class="campo">
                    <!-- <label htmlFor="inputNombre" class="form-label">Nombre</label> -->
                    <input type="text" class="form-control rounded-pill" id="inputNombre" formControlName="nombre" placeholder="Nom*" (input)="{'is-invalid': budgetSaveForm.get('nombre')?.invalid && budgetSaveForm.get('nombre')?.touched}" />
                    @if(budgetSaveForm.get('nombre')?.invalid && budgetSaveForm.get('nombre')?.touched) {
                    <div class="text-danger">
                        @if(budgetSaveForm.get('nombre')?.errors?.['required']) {
                        El Nombre es Obligatorio
                        }
                        @if(budgetSaveForm.get('nombre')?.errors?.['minlength']) {
                        Debe de tener mínimo 3 caracteres.
                        }
                        @if(budgetSaveForm.get('nombre')?.errors?.['maxlength']) {
                        Debe de tener máximo 30 caracteres.
                        }
                        @if(budgetSaveForm.get('nombre')?.errors?.['pattern']) {
                        Solo permite letras.
                        }
                    </div>
                    }
        
                </div>

                <div class="campo">
                    <!-- <label htmlFor="inputEmail" class="form-label">Email</label> -->
                    <input type="email" class="form-control rounded-pill" id="inputEmail" formControlName="email" placeholder="Email*" (input)="{'is-invalid': budgetSaveForm.get('email')?.invalid && budgetSaveForm.get('email')?.touched}" />
                    @if(budgetSaveForm.get('email')?.invalid && budgetSaveForm.get('email')?.touched) {
                    <div class="text-danger">
                        @if(budgetSaveForm.get('email')?.errors?.['required']) {
                        El Email es Obligatorio
                        }
                        @if(budgetSaveForm.get('email')?.errors?.['email']) {
                        Debes introducir un Email
                        }
                    </div>
                    }
                </div>
                <div class="campo">
                    <!-- <label htmlFor="inputTelefono" class="form-label">Teléfono</label> -->
                    <input type="tel" class="form-control rounded-pill" id="inputTelefono" formControlName="telefono" placeholder="Telèfon" (input)="{'is-invalid': budgetSaveForm.get('telefono')?.invalid && budgetSaveForm.get('telefono')?.touched}" />
                    @if(budgetSaveForm.get('telefono')?.invalid && budgetSaveForm.get('telefono')?.touched) {
                    <div class="text-danger">
                        @if(budgetSaveForm.get('telefono')?.errors?.['minlength']) {
                        Debe tener mínimo {{ budgetSaveForm.get('telefono')?.errors?.['minlength']?.requiredLength }} caracteres. Actualmente tiene {{ budgetSaveForm.get('telefono')?.errors?.['minlength']?.actualLength }} caracteres.
                        }
                        @if(budgetSaveForm.get('telefono')?.errors?.['maxlength']) {
                        Debe tener máximo {{ budgetSaveForm.get('telefono')?.errors?.['maxlength']?.requiredLength }} caracteres. Actualmente tiene {{ budgetSaveForm.get('telefono')?.errors?.['maxlength']?.actualLength }} caracteres.
                        }
                        @if(budgetSaveForm.get('telefono')?.errors?.['pattern']) {
                        Solo permite numeros.
                        }
                    </div>
                    }
                </div>
            </div>
                <button type="submit" class="btn btn-primary rounded-pill px-4 text-white ">Solicitar pressupost</button>
            </form>
        </div>
        </div>
</div>

<app-modal #confirmationModal title="Pressupost enviat" message="El teu pressupost s'ha enviat correctament."></app-modal>
