$nuevo-principal: #0f927c;

$theme-colors: (
  "primary": $nuevo-principal
);

@import  "../node_modules/bootstrap/scss/bootstrap.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  // @extend .bg-primary;
}
