

$nuevo-principal: #0f927c;
$nuevo-danger: #ff5555;

$theme-colors: (
  "primary": $nuevo-principal,
  "danger": $nuevo-danger
);



@import  "../node_modules/bootstrap/scss/bootstrap.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  // @extend .bg-primary;
}



.services {

  @extend .d-flex , .flex-column, .gap-5, .mx-auto, .my-5, .px-5;
  max-width: 840px;
}
.contenedor{
  @extend .p-2, .px-4, .rounded-4;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #fff;
}
.service {
  @extend .d-flex, .justify-content-between, .align-items-center, .gap-3, .w-100;
}
.description {
  width: 360px;
}
@media (max-width: 768px) {
  .services {
      padding: 0 40px;
  }
  .service {
      flex-direction: column;
      gap: 0 !important;
      text-align: center;
      margin-bottom: 1rem;
  }
  .description {
    width: auto;
  }
}
.service-active {
  border: 2px solid #0f927c;
  transition: 1s;
}

.service h3 {
  @extend .text-primary, .fw-bolder, .mt-2;
}


.price {
  @extend .fw-bold, .fs-1;
}


.total {
  @extend .d-flex, .justify-content-end, .align-items-center, .gap-4, .mx-auto, .mb-3, .px-5;
  max-width: 840px;
}

@media (max-width: 400px) {
  .total {
      flex-direction: column;
      padding-right: 40px;
      align-items: end;
      gap: 0 !important;
  }
}


.ocultar {
  display: none;
}

h3 {
  @extend .fw-bolder, .mt-2;
}

.contenedor-formulario {
  @extend .rounded-4;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}