<form [formGroup]="panelForm" class="animate-fade">
  <div class="opciones-container">
    <label for="pages" class="d-inline-flex align-items-center gap-2"><i class="bi bi-info-circle text-primary fs-5" data-bs-toggle="modal" data-bs-target="#modalPages" 
      data-bs-auto-close="outside" type="button"></i> Nombre de pàgines</label>
    <div class="group">
      <button  class="boton" id="boton-decrementar-pages"
      (click)="modifyValue('pages', 'decrement')"
      [disabled]="panelForm.get('countPages')?.value === 1"><i class="bi bi-dash-lg"></i></button>
      <input type="number" id="pages" formControlName="countPages" min="1" (input)="update()" [value]="pages()">
      <button class="boton" (click)="modifyValue('pages', 'increment')"><i class="bi bi-plus-lg"></i></button>
    </div>
  </div>
  
  <div class="opciones-container">
    <label for="languages" class="d-inline-flex align-items-center gap-2"><i class="bi bi-info-circle text-primary fs-5" data-bs-toggle="modal" data-bs-target="#modalLanguages" 
      data-bs-auto-close="outside" type="button"></i> Nombre de llenguatges</label>
    <div class="group">
      <button class="boton" id="boton-decrementar-languages"
      (click)="modifyValue('languages', 'decrement')"
      [disabled]="panelForm.get('countLanguages')?.value === 1"><i class="bi bi-dash-lg"></i></button>
      <input type="number" id="languages" formControlName="countLanguages" min="1" (input)="update()"  [value]="languages()"> 
      <button class="boton" (click)="modifyValue('languages', 'increment')"><i class="bi bi-plus-lg"></i></button>
    </div>
  </div>
</form>
  
  <!-- Modals -->
  <div class="modal fade" id="modalPages" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
        <button type="button" class="btn-close m-3 ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="mx-3 mb-4 text-center">
        <h4 class="mb-3">Nombre de pàgines</h4>
        <p>Afegeix el nombre de pàgines que tindra el teu projecte. <br>
        El preu extra per aquesta opció es de 30€ per pàgina.</p>
        </div>
			</div>
		</div>
	</div>

  <div class="modal fade" id="modalLanguages" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
        <button type="button" class="btn-close m-3 ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="mx-3 mb-4 text-center">
        <h4 class="mb-3">Nombre de llenguatges</h4>
        <p>Afegeix el nombre de llenguatges que tindra el teu projecte. <br>
        El preu extra per aquesta opció es de 30€ per llenguatge.</p>
        </div>
			</div>
		</div>
	</div>